:root {
  /*text color*/
  --clr-white: #fcfffe;
  --clr-dark: #541c1f;
  --clr-all-p: #785e60;
  --clr-footer-rights: #a19192;
  --clr-footer-light: lightgrey;
  /*background colors*/
  --bgr-clr-white: #ffffff;
  --bgr-clr-red: #d95550;
  /* --bgr-clr-pale: #e07471; */
  --bgr-clr-pale: #dd6662;
  /* --background-color-btn-pale-hover:; */
  --text-decoration-pale-bgr: #dd6662;
  --text-decoration-btn-active: #ba5752;
  /*for un/ordered list decoration*/
  --li-line: #e96d73;
  --li-strong: #d95550;
  /*taskbar area*/
  --background-color-btn-default: #c74e49;
  --background-color-btn-hover: #c34c48;
  /*from og code but idk what they do*/
  --color: #f05b56;
  --color: #db524d;
  /*fonts*/
  --color-pink: hotpink;
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

/*TYPOGRAPHY*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-weight: 350;
}
h1,
h2 {
  color: var(--clr-dark);
}

/*NAVIGATION BAR*/

.nav {
  display: block;
  background-color: var(--bgr-clr-red);
}

.navFlx {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: var(--bgr-clr-red);
  border-bottom: 1px solid var(--background-color-btn-hover);
  justify-content: space-between;
  padding: 0.6rem 0;
}
.navFocus a {
  color: var(--clr-white);
  font-weight: 600;
  font-size: 18px;
}

span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

span button {
  background-color: var(--text-decoration-pale-bgr);
  color: var(--clr-white);
  border: none;
  border-radius: 6%;
  font-size: 11px;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  /* opacity: 1; */
}
button svg {
  color: var(--clr-white);
  opacity: 0.6;
}
button {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  opacity: 0.8;
}

button:hover {
  cursor: pointer;
  color: var(--bgr-clr-white);
  opacity: 1;
}
button:active {
  opacity: 1;
  box-shadow: 0 4px 20px -6px var(--text-decoration-btn-active);
}

/*----SCREEN AREA------*/
.mainScreen {
  display: block;
  background-color: var(--bgr-clr-red);
}
.task-container {
  max-width: 500px;
  margin: auto;
}
/*see if thisdiv is actually even needed, maybe it can be moved to the screen container directly*/
.screens {
  text-align: center;
  padding-top: 1.5rem;
}
.screen-container {
  margin: 0;
  padding: 0;
}
.screen-container {
  width: 100%;
  background-color: var(--bgr-clr-pale);
  border-radius: 5px;
}
.screen-btn {
  display: inline-flex;
  justify-content: center;
  margin: 1rem 0;
  /* margin: 1rem 0.5rem; */
}
.screen-btn > * {
  border: none;
  border-radius: 3px;
  margin: 0 0.5rem;
  background-color: var(--bgr-clr-pale);
  color: var(--clr-white);
  font-weight: 100;
  font-size: 14px;
}
.btn-pomodoro {
  background-color: var(--background-color-btn-hover);
  font-weight: 600;
  opacity: 1;
  padding: 0.3rem 0.6rem;
}

/*the digits*/
.timer-digits {
  color: var(--bgr-clr-white);
  font-size: 100px;
  font-weight: 600;
}

.timer-start-btn {
  margin-bottom: 1rem;
}
.timer-start-btn button {
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.6pt;
  color: var(--background-color-btn-default);
  background-color: var(--bgr-clr-white);
  opacity: 1;
  padding: 0.8rem 3rem;
  border-bottom: 4px solid lightgrey;
  margin-bottom: 1.5rem;
}

.status {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1pt;
  color: var(--bgr-clr-white);
  opacity: 0.6;
  padding-bottom: 0.4rem;
}
.currentTask {
  color: var(--bgr-clr-white);
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 1.5rem;
}

/*TASK BAR*/
.task-screen {
  max-width: 490px;
  margin: auto;
  padding-bottom: 1rem;
}
.task-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--bgr-clr-pale);
  padding-bottom: 0.5rem;
}
.task-bar p {
  font-weight: 600;
  font-size: 18px;
  color: var(--bgr-clr-white);
  margin: 0;
}
.btn-task {
  border: none;
  background-color: var(--bgr-clr-pale);
  color: var(--bgr-clr-white);
  opacity: 0.7;
  border-radius: 3px;
  padding: 0.3rem 0.2rem;
  cursor: pointer;
}
.btn-task:hover {
  opacity: 1;
}

/*-------------------ARTICLE AREA--------------------------*/
.mainText {
  display: block;
}
.textContainer {
  max-width: 600px;
  margin: auto;
  padding: 0 0.5em;
  display: flex;
  flex-direction: column;
  background-color: var(--bgr-clr-white);
}
h1 {
  font-size: 1.8rem;
}
article p,
article li {
  line-height: 1.7rem;
  font-size: 18px;
}
article {
  padding-bottom: 1rem;
}
/*the separator line*/
h2::after {
  content: "";
  display: block;
  width: 20px;
  border-bottom: 4px solid var(--li-line);
  opacity: 0.7;
  padding-top: 0.6rem;
}
/*features & downlaods*/

li,
p {
  color: var(--clr-all-p);
}

a {
  text-decoration: none;
}
.pomlink {
  color: var(--background-color-btn-default);
  font-weight: 600;
}
.wiki {
  color: var(--background-color-btn-default);
  font-weight: 600;
}
.features li,
.downloads li {
  list-style-type: none;
}

.features li::before {
  content: "•";
  color: var(--li-strong);
  font-weight: bold;
  width: 1em;
  display: inline-block;
  margin-left: -1em;
}

.downloads li::before {
  content: "•";
  color: var(--li-strong);
  display: inline-block;
  margin-left: -1em;
}

strong a {
  color: var(--li-strong);
}

/*---------------FOOTER (all good here)------------------------*/

footer {
  text-align: center;
  border-top: 1.5px solid var(--clr-footer-light);
}
.footerContainer {
  max-width: 600px;
  margin: auto;
}
.footer-pages {
  margin-top: 1.5rem;
}
.footer-pages a {
  color: var(--clr-all-p);
  padding: 0 0.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.footer_madeBy {
  color: var(--clr-all-p);
  margin-bottom: 1rem;
}
.footer_madeBy a {
  color: var(--bgr-clr-pale);
  font-weight: 600;
}
.footer_allRights {
  color: var(--clr-footer-rights);
  font-size: 14px;
  margin-bottom: 1rem;
  text-align: center;
}

.footer_some {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer_some svg {
  width: 30px;
  height: 30px;
  opacity: 0.7;
  color: var(--clr-all-p);
  margin: 1rem 0;
}

/*MQ*/
@media only screen and (max-width: 650px) {
  body {
    background-color: var(--bgr-clr-white);
  }
  .mainText {
    margin: 0 1rem;
  }
  .navFlx {
    margin: 0 0.5rem;
  }
  .timer-digits {
    font-size: 80px;
    font-weight: 600;
  }

  article p,
  article li {
    font-size: 16px;
    line-height: 1.4rem;
  }
  .task-container {
    max-width: 400px;
    margin: auto;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 19px;
  }
}

/*how to remove text and leave only svgs for the topnav btns?*/
@media only screen and (max-width: 450px) {
  .footer-pages a {
    font-size: 14px;
    padding: 0 0.2rem;
  }
}
