:root {
  /*text color*/

  --clr-white: #fcfffe;
  --clr-dark: #541c1f;
  --clr-all-p: #785e60;
  --clr-footer-rights: #a19192;
  --clr-footer-light: lightgrey;
  /*background colors*/
  --bgr-clr-white: #ffffff;
  --bgr-clr-red: #d95550;
  --bgr-clr-pale: #e07471;
  /* --background-color-btn-pale-hover:; */
  --text-decoration-pale-bgr: #dd6662;
  --text-decoration-btn-active: #ba5752;
  /*for un/ordered list decoration*/
  --li-line: #e96d73;
  --li-strong: #d95550;
  /*taskbar area*/
  --background-color-btn-default: #c74e49;
  --background-color-btn-hover: #c34c48;
  /*from og code but idk what they do*/
  --color: #f05b56;
  --color: #db524d;
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
/*BACKGROUNDS*/
.task-container {
  background-color: var(--bgr-clr-red);
}

/*TYPOGRAPHY*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-weight: 350;
}

h1,
h2 {
  color: var(--clr-dark);
}

/*NAVIGATION BAR*/

.nav {
  display: block;
  background-color: var(--bgr-clr-red);
}
/* .test {
  max-width: 500px;
  margin: auto;
} */
.navFlx {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: var(--bgr-clr-red);
  border-bottom: 1px solid var(--bgr-clr-pale);
  justify-content: space-between;
  padding: 0.6rem 0;
}
.navFocus a {
  color: var(--clr-white);
  font-weight: 600;
  font-size: 18px;
}

span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

span button {
  background-color: var(--text-decoration-pale-bgr);
  color: var(--clr-white);
  border: none;
  border-radius: 6%;
  font-size: 11px;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  /* opacity: 1; */
}
button svg {
  color: var(--clr-white);
  opacity: 0.6;
}
button {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  opacity: 0.8;
}

button:hover {
  cursor: pointer;
  color: var(--bgr-clr-white);
  opacity: 1;
}
button:active {
  /* box-shadow: 0px 1px 1px #de1dde; */
  box-shadow: 0 4px 15px -6px var(--text-decoration-btn-active);
}

/*features & downlaods*/

li,
p {
  color: var(--clr-all-p);
}

a {
  text-decoration: none;
}
.pomlink {
  color: var(--background-color-btn-default);
  font-weight: 600;
}
.wiki {
  color: var(--background-color-btn-default);
  font-weight: 600;
}
.features li,
.downloads li {
  list-style-type: none;
}

.features li::before {
  content: "•";
  color: var(--li-strong);
  font-weight: bold;
  width: 1em;
  display: inline-block;
  margin-left: -1em;
}

.downloads li::before {
  content: "•";
  color: var(--li-strong);
  display: inline-block;
  margin-left: -1em;
}

strong a {
  color: var(--li-strong);
}

/*-------------------ARTICLE AREA--------------------------*/
.mainText {
  display: block;
}
.textContainer {
  max-width: 500px;
  margin: auto;
  padding: 0 0.5em;
  display: flex;
  flex-direction: column;
  background-color: var(--bgr-clr-white);
}
h1 {
  font-size: 1.8rem;
}
article p,
article li {
  line-height: 1.6rem;
  font-size: 18px;
}
article {
  padding-bottom: 1rem;
}
/*---------------FOOTER BEGINS----------------------------*/
/*the separator line*/
h2::after {
  content: "";
  display: block;
  width: 20px;
  border-bottom: 4px solid var(--li-line);
  opacity: 0.7;
  padding-top: 0.6rem;
}
footer {
  text-align: center;
}
.footerContainer {
  max-width: 500px;
  margin: auto;
}
.footer-pages {
  border-top: 1.5px solid var(--clr-footer-light);
}
.footer-pages li {
  list-style-type: none;
}
.footer-pages a {
  color: var(--clr-all-p);
}
.footer_madeBy {
  color: var(--clr-all-p);
}
.footer_madeBy a {
  color: var(--bgr-clr-pale);
  font-weight: 600;
}
.footer_allRights {
  color: var(--clr-footer-rights);
  font-size: 12px;
}
.footer_some svg {
  width: 28px;
  height: 28px;
  opacity: 0.9;
  color: var(--clr-footer-rights);
}

/*for images if there is any*/
/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

@media only screen and (max-width: 650px) {
  body {
    background-color: lightblue;
  }
  main {
    margin: 0 1rem;
  }
  article p,
  article li {
    font-size: 16px;
    line-height: 1.4rem;
  }
  h2 {
    font-size: 19px;
    /* letter-spacing: 0.2px; */
  }
  h1 {
    font-size: 24px;
  }
}

/*how to remove text and leave only svgs?*/
/* @media only screen and (max-width: 450px) {
} */

/*Last merger: navigation to main 00:40*/
